[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = {version = "*",editable = true}
bumpversion = {version = "*",editable = true}
twine = {version = "*",editable = true}
pipenv-to-requirements = "*"

[packages]
notion = {version = "*",editable = true}
urllib3 = {version = ">=1.24.2",editable = true}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
