[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = {editable = true,version = "*"}
bumpversion = {editable = true,version = "*"}
twine = {editable = true,version = "*"}

[packages]
notion = {editable = true,git = "https://github.com/evertheylen/notion-py.git"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
